---
import Layout from "@/layouts/Layout.astro";
import Converter from "@/components/Converter.astro";
import ExchangeRates from "@/components/ExchangeRates.astro";

import "@/styles/globals.css";
---

<Layout>
  <main class="min-h-[calc(100dvh-176px)]">
    <section class="grid gap-4">
      <Converter />
      <ExchangeRates />
    </section>
  </main>
</Layout>
