---
import Layout from "@/layouts/Layout.astro";
import Converter from "@/components/Converter.astro";
import ExchangeRates from "@/components/ExchangeRates.astro";

import "@/styles/globals.css";
import "/node_modules/flag-icons/css/flag-icons.min.css";
---

<Layout>
  <main
    class="min-h-[calc(100dvh-315px)] md:min-h-[calc(100dvh-300px)] lg:min-h-[calc(100dvh-342.5px)]"
  >
    <section class="grid gap-4">
      <Converter />
      <ExchangeRates />
    </section>
  </main>
</Layout>
