---
import { Info, Calendar } from "lucide-react";

import { isBadRequest, getHistorical } from "@/lib/utils";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { HistoricalChart } from "@/components/HistoricalChart";
import { Skeleton } from "@/components//ui/skeleton";

import type { RawHistorical, BadRequest } from "@/types/app";

const response = await fetch(new URL("/api/timeseries?symbol=COP", Astro.url));
const data = (await response.json()) as RawHistorical | BadRequest;

if (isBadRequest(data)) {
  throw new Error(data.error);
}

const historical = getHistorical(data, "COP");
---

<Card>
  <CardHeader>
    <CardTitle>Exchange Rates</CardTitle>
    <CardDescription id="chart_description"
      >Latest exchange rates for USD to COP.</CardDescription
    >
    <Skeleton id="chart_description_loader" className="hidden h-5 w-60" />
  </CardHeader>
  <CardContent id="historical" data-historical={JSON.stringify(historical)}>
    <HistoricalChart client:load />
  </CardContent>
  <CardFooter
    className="flex-col items-start gap-y-2 text-xs italic text-muted-foreground sm:flex-row sm:justify-between"
  >
    <p class="flex gap-x-1">
      <Info size={16} />
      Data provided by <a
        href="https://currencybeacon.com"
        target="_blank"
        class="text-ring hover:underline">CurrencyBeacon API</a
      >
    </p>
    <div class="flex items-center gap-x-1">
      <Calendar size={16} />
      <p>
        Last updated: <span id="updated_date"></span>
        <Skeleton id="updated_date_loader" className="hidden h-4 w-28" />
      </p>
    </div>
  </CardFooter>
</Card>

<script src="../scripts/historical.ts"></script>
