---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Chart } from "@/components/Chart";
---

<Card>
  <CardHeader>
    <CardTitle>Exchange Rates</CardTitle>
    <CardDescription>Latest exchange rates.</CardDescription>
  </CardHeader>
  <CardContent>
    <Chart client:visible />
  </CardContent>
  <CardFooter>
    <p class="text-xs">Card Footer</p>
  </CardFooter>
</Card>
