---
import { Github } from "lucide-react";
---

<a
  class="mb-3 inline-flex h-7 animate-shimmer items-center justify-center gap-x-1 rounded-full border border-border bg-[linear-gradient(110deg,#fff,45%,#e2e8f0,55%,#fff)] bg-[length:200%_100%] px-3 text-xs font-medium transition-colors dark:bg-[linear-gradient(110deg,#020817,45%,#1e2631,55%,#020817)] lg:mb-1 lg:h-8 lg:px-4 lg:text-sm"
  href="https://github.com/sneyderdev/coinverter"
  target="_blank"
>
  <Github size={16} />
  <span>Source code</span>
</a>
