<header class="space-y-1 py-9">
  <h1 class="text-2xl font-semibold leading-none tracking-tight">Coinverter</h1>
  <p class="text-sm text-muted-foreground">
    Welcome to Coinverter. Convert between currencies and stay updated with the
    latest exchange rates. Start converting now!
  </p>
</header>
